<template name="tmplHeader">
	<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">

			<div class="navbar-header">
				<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="/" class="navbar-brand">{{brand}}</a>
			</div>
			<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
				<ul class="nav navbar-nav">
					{{#if hasNoSidebar}}
					<li>
						<button id="show-sidebar" type="button" class="btn btn-default navbar-btn" title="Show side-bar"><span class="glyphicon glyphicon-chevron-right"></span>
						</button>
					</li>
					{{/if}}
					{{#if currentUser}}
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects ({{projects_cnt}}) <b class="caret"></b></a>
						<ul class="dropdown-menu" style="width: 400px">
							{{> project_dropdown}}
						</ul>
					</li>
					{{/if}}
					{{#if pickedProject}}
					<li class="{{activeRouteClass  '/tdocs'}}">
						<a href="/tdocs" title="Browse all tdocs in library">Tdocs ({{tdocs_count}})</a>
					</li>
					<li class="{{activeRouteClass  '/diagrams'}}">
						<a href="/diagrams" title="Browse all diagrams in library">Diagrams ({{diagrams_count}})</a>
					</li>
					<li class="{{activeRouteClass  '/glossarys'}}">
						<a href="/glossarys" title="Browse glossary items in library">Glossary ({{glossarys_cnt}})</a>
					</li>
					<li class="{{activeRouteClass  '/tables'}}">
						<a href="/tables" title="Browse tables in library">Tables ({{tables_cnt}})</a>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Actions <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="/projectAdd" title="Create new Project">Create Project</a></li>
							<li><a href="/tdocAdd" title="Create new Tdoc">Create Tdoc</a></li>
							<li><a href="/diagramAdd" title="Create new Sequence Diagram">Create Sequence Diagram</a></li>
							<li><a href="/diagramGraphAdd" title="Create new Graph Diagram">Create Graph Diagram</a></li>
							<li><a href="/glossaryAdd" title="Create new Glossary item">Create Glossary</a></li>
							<li><a href="/tableAdd" title="Create new Table item">Create Table</a></li>
						</ul>
					</li>
   					{{/if}}
					{{#if isAdmin}}
					<!-- ADMIN ACTIONS -->
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="/admin/users" title="User administration">Users</a></li>
						</ul>
					</li>
					{{/if}}
				</ul>


				<ul class="nav navbar-nav navbar-right">
					<li> <p class="navbar-text">{{loginButtons}}</p> </li>

					<li class="dropdown"  style="margin-right: 50px">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Closet <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="/help">Help</a></li>
							<li><a href="/about">About</a></li>
							<li><a href="/settings">Settings</a></li>
							<li><a href="/license">License</a></li>
						</ul>
					</li>
				</ul>

			</nav>

	</header>
</template>

<template name="project_dropdown_list">
	<div>
		{{#each projects}}
			<li><a href="/projects/{{_id}}">{{title}}</a></li>
		{{/each}}

	</div>
</template>

<template name="project_dropdown">
	{{> tmpl_projects}}
</template>
