<template name="tmpl_project_add">

	<div class="panel panel-purple">
		<div class="panel-heading">
			<h2 class="panel-title">Add Project</h2>
		</div>
		<div class="panel-body">

			<form class="add modal-nav-box box-hide form-horizontal">

				{{form_input "Title" "title" "" canCreate true null true}}
				{{form_input "Description" "description" "" canCreate true null true}}

				<div class="form-group">
					<div class="col-sm-4">
						{{#if canCreate}}
							<button type="button" class="btn btn-primary" id="btnCreateProject">Create</button>
						{{/if}}
					</div>
				</div>
			</form>
		</div>
	</div>

</template>
