<template name="tmpl_projects">
	{{#each projects}}
		{{> tmpl_project_item}}
	{{/each}}
</template>

<template name="tmpl_projects_sort_select">
	<div class="row">
		<div class="col-sm-8">
			<ol class="breadcrumb">
				{{#each breadcrumbs}}
				{{#if isActive}}
				<li class="active">{{title}}</li>
				{{else}}
				<li><a href="{{link}}">{{title}}</a></li>
				{{/if}}
				{{/each}}
			</ol>
		</div>

		<div class="col-sm-4">
			{{form_options option_value options "project_sort"}}
		</div>
	</div>
</template>
