<template name="tmplHome">

	<!-- BANNER
	================================================== -->
	<div class="bs-header" id="content">
		<div class="container">
			<h1>Tdocs</h1>
			<p>App for creating and managing technical docs and drawings</p>
			<p>made with <a href="http://meteor.com" target="_blank">meteor</a></p>
		</div>
	</div>

	<!-- CONTENT
	================================================== -->
	<div class="bs-docs-section">
		<div class="page-header">
			<h1>Create an Account to make your own diagrams</h1>
			<img src="/img/home-seq.png"/>
		</div>
		<!--
		<p class="lead">p-lead: some more info</p>

		<h3>h3 - header</h3>
		<ul>
			<li>item 1</li>
			<li>item 2</li>
			<li>item 3</li>
		</ul>
		-->

	</div>

	{{> items}}

</template>
