<template name="tmpl_userprof_detail">

	<ul class="nav nav-tabs nav-justified">
		<li><a href="/mystuff">My Stuff</a></li>
		<li><a href="/favs">Favs</a></li>
		<li><a href="/stars">Starred</a></li>
		<li class="active"><a href="#">Profile</a></li>
	</ul>

	<div class="panel panel-purple">
		<div class="panel-heading">

			<h2 class="panel-title">Profile
			</h2>
		</div>
		<div class="panel-body">

			<form class="add modal-nav-box box-hide form-horizontal" id="form_userprofile">
				<!-- ID -->
				{{#if isAdmin}}
					{{form_input "_id" "_id" _id false true _id false}}
				{{/if}}

				<!-- FIELDS -->
				{{form_input "Name" "name" name canEditAndEditToggle true _id false}}
				<!--{{form_input "Email" "email" email canEditAndEditToggle true _id false}}-->
				{{form_static "Created" "createdAgo" createdAgo false}}

				{{#if isAdmin}} {{form_select "Status" "status" status statusOptions "" isAdmin true}} {{/if}}

				<div class="form-group">
					<div class="col-sm-8">
						{{#if showEditButton}}
							<button type="button" class="btn btn-primary" id="btnEditToggle">Edit</button>
						{{/if}}
						{{#if canEditAndEditToggle}}
						<button type="button" class="btn btn-primary" id="btnUpdateUserprof">Update</button>
						<button type="button" class="btn btn-default" id="btnCancelUserprof">Cancel</button>
						{{/if}}
					</div>
				</div>
			</form>
		</div>
	</div>

	<h2>Projects</h2>

</template>
