<template name="tmpl_person_detail">
	{{> tmpl_breadcrumbs breadcrumbs}}

	<ul class="nav nav-tabs nav-justified">
		<li class="active"><a href="#">Person</a></li>
	</ul>

	<div class="panel panel-purple">
		<div class="panel-heading">
			<h2 class="panel-title">{{name}}
				<div class="pull-right">
					{{glyphicon "heart" "heart-empty" "icon-heart" isFav "Add / remove from favs"}}
					&nbsp;&nbsp;&nbsp;
					{{glyphicon "star" "star-empty" "icon-star" isStar "Star it"}}
				</div>
				<!--<div class="clearfix"></div>-->
			</h2>
		</div>
		<div class="panel-body">

			<form class="add modal-nav-box box-hide form-horizontal" id="form_person">

				<!-- ID -->
				{{#if isAdmin}}
					{{form_input "_id" "_id" _id false true _id false}}
					{{form_static "UserId" "userId" userId true}}
				{{/if}}

				<!-- FIELDS -->
				{{form_input "Name" "name" name canEdit true _id false}}
				{{form_date "Birth Date" "birth_date" formattedBirthDate canEdit true _id}}

				<!-- METADATA -->
				<p>
					<strong>views:</strong>{{click_cnt}}
					<strong>favs:</strong>{{favs_cnt}}
					<strong>stars:</strong>{{stars_cnt}}
					</br><strong>created:</strong>{{createdAgo}}
					</br><strong>updated:</strong>{{updatedAgo}}
				</p>

				{{#if canEdit}} {{form_select "Status" "status" status statusOptions "" isAdmin true}} {{/if}}

				<div class="form-group">
					<div class="col-offset-2 col-sm-4">
						{{#if canEdit}}
							<button type="button" class="btn btn-danger" id="btnDeletePerson">Delete</button>
						{{/if}}
					</div>
				</div>
			</form>
		</div>
	</div>

</template>
