<template name="tmpl_about">

	<div class="bs-docs-section">
		<div class="page-header">
			<h1>About</h1>
		</div>

		<p class="lead">This application was made as part of a Meteor tutorial, which will be announced shortly.</p>

		<h3>Links</h3>
		<ul>
			<li><a href="http://lucidservices.com/tdocs/" target="_blank">documentation</a></li>
			<li><a href="http://meteor.com" target="_blank">Meteor</a></li>
		</ul>

		<h3>License</h3>
		<ul>
			<li>All mine for now</li>
		</ul>
	</div>

	<h3>Authors</h3>
	<p class="lead">John T Day</p>
	<ul>
		<li>Consultant and Developer</li>
		<li><a href="mailto:johntday@gmail.com" target="_blank">johntday@gmail.com</a></li>
		<li><a href="http://lucidservices.com/about.html" target="_blank">more useless info</a></li>
	</ul>

	<p class="lead">Ben Venker</p>
	<ul>
		<li>Consultant and Developer + much more</li>
	</ul>

</template>
