<template name="tmpl_help">

	<div class="bs-docs-section">
		<div class="page-header">
			<h1>Help</h1>
		</div>

		<a href="http://lucidservices.com/tdocs/" target="_blank">Application documentation</a>

		<h2>Modeling Reference</h2>
		<ol>
			<li><a href="http://pubs.opengroup.org/architecture/archimate2-doc/chap03.html" target="_blank">Business Layer</a></li>
			<li><a href="http://pubs.opengroup.org/architecture/archimate2-doc/chap04.html" target="_blank">Application Layer</a></li>
			<li><a href="http://pubs.opengroup.org/architecture/archimate2-doc/chap05.html" target="_blank">Technology Layer</a></li>
			<li><a href="http://pubs.opengroup.org/architecture/archimate2-doc/chap07.html" target="_blank">Relationships</a></li>
			<li><a href="http://pubs.opengroup.org/architecture/archimate2-doc/chap08.html" target="_blank">Architectural Viewpoints</a></li>
			<li><a href="http://pubs.opengroup.org/architecture/archimate2-doc/chap11.html" target="_blank">Implementation Layer</a></li>
			<li><a href="http://pubs.opengroup.org/architecture/archimate2-doc/chap10.html" target="_blank">Motivation Layer</a></li>
		</ol>
	</div>

</template>
