<template name="tmpl_diagram_detail">
	{{> tmpl_breadcrumbs breadcrumbs}}

	<ul class="nav nav-tabs nav-justified">
		<li class="active"><a href="#">Diagram</a></li>
		<li><a href="#">Diagrams</a></li>
		<li><a href="#">Glossary</a></li>
	</ul>

	<div class="col-sm-6">

	<div class="panel panel-purple">
		<div class="panel-heading">

			<h2 class="panel-title">{{title}}
				<div class="pull-right" style="margin-top: -5px;">
					{{glyphicon "heart" "heart-empty" "icon-heart" isFav "Add / remove from favs"}}
					&nbsp;&nbsp;&nbsp;
					{{glyphicon "eye-open" "eye-close" "icon-eye" hasSeen "Have read the diagram"}}
					&nbsp;&nbsp;&nbsp;
					{{glyphicon "star" "star-empty" "icon-star" isStar "Star it"}}
					{{#if canEdit}}
						<button type="button" class="btn btn-default btn-sm" id="btnEditToggle">&nbsp;&nbsp;Edit&nbsp;&nbsp;</button>
					{{/if}}
				</div>
		<!--<div class="clearfix"></div>-->
			</h2>
		</div>
		<div class="panel-body">

			<form class="add modal-nav-box box-hide form-horizontal" id="form_diagram">
				<!-- ID -->
				{{#if isAdmin}}
					{{form_input "_id" "_id" _id false}}
				{{/if}}

				<!-- FIELDS -->
				{{form_input "Title" "title" title canEditAndEditToggle true}}
				{{form_textarea "Description" "description" description canEditAndEditToggle false}}
				{{form_textarea "Diagram Text Language" "code" code canEditAndEditToggle true}}

				<!-- METADATA -->
				<p>
					<strong>owner:</strong>{{owner}}
					<strong>views:</strong>{{click_cnt}}
					<strong>favs:</strong>{{favs_cnt}}
					<strong>read:</strong>{{seen_cnt}}
					<strong>stars:</strong>{{stars_cnt}}
					<strong>created:</strong>{{createdAgo}}
					<strong>updated:</strong>{{updatedAgo}}
				</p>
				{{#if canEdit}} {{form_select "Status" "status" status statusOptions "" canEditAndEditToggleAdmin true}} {{/if}}

				<div class="form-group">
					<div class="col-sm-4">
						{{#if canEditAndEditToggle}}
							<button type="button" class="btn btn-primary" id="btnUpdateDiagram">Update</button>
							<button type="button" class="btn btn-danger" id="btnDeleteDiagram">Delete</button>
						{{/if}}
					</div>
				</div>
			</form>
		</div>
	</div>

	</div>

	<div class="col-sm-6">
		{{> tmpl_diagram_diagram obj}}
	</div>
</template>
