<template name="tmplSidebar">
	{{> tmpl_accordian_test}}
</template>

<template name="tmpl_sidebar_buttons">
	<div style="margin-bottom: 5px; margin-top: 5px; margin-left: 5px; margin-right: 5px">
		<button id="btn-sidebar-help" type="button" class="btn btn-info btn-sm" title="Help"><span class="glyphicon glyphicon-question-sign"></span> </button>
		<button id="btn-sidebar-search" type="button" class="btn btn-info btn-sm" title="Search"><span class="glyphicon glyphicon-search"></span> </button>
		<button type="button" class="btn btn-success btn-sm" title="Create"><span class="glyphicon glyphicon-plus"></span> </button>
		<button type="button" class="btn btn-warning btn-sm" title="Update"><span class="glyphicon glyphicon-pencil"></span> </button>
		<button type="button" class="btn btn-danger btn-sm" title="Delete"><span class="glyphicon glyphicon-remove"></span> </button>
		<button id="btn-open-all" type="button" class="btn btn-default btn-sm" title="Open All (Select an item first)"><span
				class="glyphicon glyphicon-folder-open"></span></button>
		<button id="btn-close-all" type="button" class="btn btn-default btn-sm" title="Close All (Select an item first)"><span class="glyphicon glyphicon-folder-close"></span> </button>
		<button type="button" class="btn btn-default btn-sm" title="Goto selected item"><span class="glyphicon glyphicon-arrow-right"></span> </button>

		<span class="pull-right">
			{{#if chevronLeft}}
			<button id="sidebar_left" type="button" class="btn btn-default btn-sm" title="Narrow sidebar"><span class="glyphicon glyphicon-chevron-left"></span> </button>
			{{/if}}
			{{#if chevronRight}}
			<button id="sidebar_right" type="button" class="btn btn-default btn-sm" title="Widen sidebar"><span class="glyphicon glyphicon-chevron-right"></span> </button>
			{{/if}}
		</span>
	</div>
</template>

<template name="tmpl_accordian_test">

	<div class="panel-group" id="accordion">

		<div class="panel panel-purple">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#busLayer">
						Business Layer
					</a>
				</h4>
			</div>
			<div id="busLayer" class="panel-collapse collapse">
				<div class="panel-body">
					{{#constant}}
					<div id="Business_Domain"></div>
					<div id="Business_Actor"></div>
					<div id="Business_Role"></div>
					<div id="Business_Interface"></div>
					<div id="Business_Function"></div>
					<div id="Business_Process"></div>
					<div id="Business_Event"></div>
					<div id="Business_Service"></div>
					<div id="Business_Object"></div>
					<div id="Business_Location"></div>
					{{/constant}}
				</div>
			</div>
		</div>

		<div class="panel panel-purple">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#appLayer">
						Application Layer
					</a>
				</h4>
			</div>
			<div id="appLayer" class="panel-collapse collapse">
				<div class="panel-body">
					{{#constant}}
					<div id="Application_Component"></div>
					<div id="Application_Interface"></div>
					<div id="Application_Service"></div>
					<div id="Application_Function"></div>
					<div id="Application_Data_Object"></div>
					{{/constant}}
				</div>
			</div>
		</div>

		<div class="panel panel-purple">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#techLayer">
						Technology Layer
					</a>
				</h4>
			</div>
			<div id="techLayer" class="panel-collapse collapse">
				<div class="panel-body">
					{{#constant}}
					<div id="Technology_Artifact"></div>
					<div id="Technology_Communication_Path"></div>
					<div id="Technology_Network"></div>
					<div id="Technology_Interface"></div>
					<div id="Technology_Function"></div>
					<div id="Technology_Service"></div>
					<div id="Technology_Node"></div>
					<div id="Technology_Software"></div>
					<div id="Technology_Device"></div>
					{{/constant}}
				</div>
			</div>
		</div>

		<div class="panel panel-purple">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#implLayer">
						Implementation Layer
					</a>
				</h4>
			</div>
			<div id="implLayer" class="panel-collapse collapse">
				<div class="panel-body">
					{{#constant}}
					<div id="Implementation_Work_Package"></div>
					<div id="Implementation_Deliverable"></div>
					<div id="Implementation_Plateau"></div>
					<div id="Implementation_Gap"></div>
					{{/constant}}
				</div>
			</div>
		</div>

		<div class="panel panel-purple">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#modvLayer">
						Motivation Layer
					</a>
				</h4>
			</div>
			<div id="modvLayer" class="panel-collapse collapse">
				<div class="panel-body">
					{{#constant}}
					<div id="Motivation_Stakeholder"></div>
					<div id="Motivation_Driver"></div>
					<div id="Motivation_Goal"></div>
					<div id="Motivation_Principle"></div>
					<div id="Motivation_Requirement"></div>
					<div id="Motivation_Constraint"></div>
					{{/constant}}
				</div>
			</div>
		</div>

	</div>

</template>
