<template name="tmplSidebar">
	{{> tmpl_accordian_test}}
</template>

<template name="tmpl_bus_layer">
	<div id="jstree">
		<!-- in this example the tree is populated from inline HTML -->
		<ul>
			<li>Root node 1
				<ul>
					<li id="child_node_1">Child node 1</li>
					<li>Child node 2</li>
				</ul>
			</li>
			<li>Root node 2</li>
		</ul>
	</div>
	<button>demo button</button>
</template>

<template name="tmpl_accordian_test">
	<div class="panel-group" id="accordion">
		<div class="panel panel-purple">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#busLayer">
						Business Layer
					</a>
					<span class="glyphicon glyphicon-plus pull-right"></span>
				</h4>
			</div>
			<div id="busLayer" class="panel-collapse collapse in">
				<div class="panel-body">
					{{> tmpl_bus_layer}}
				</div>
			</div>
		</div>
		<div class="panel panel-purple">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
						Diagrams
					</a>
				</h4>
			</div>
			<div id="collapseThree" class="panel-collapse collapse">
				<div class="panel-body">
				</div>
			</div>
		</div>
		<div class="panel panel-purple">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#glossary">
						Glossary
					</a>
				</h4>
			</div>
			<div id="glossary" class="panel-collapse collapse">
				<div class="panel-body">
				</div>
			</div>
		</div>
		<div class="panel panel-purple">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#tables">
						Tables
					</a>
				</h4>
			</div>
			<div id="tables" class="panel-collapse collapse">
				<div class="panel-body">
				</div>
			</div>
		</div>

	</div>
</template>


