<template name="tmpl_noun_detail">
	<ol class="breadcrumb">
		<li><a href="/">home</a></li>
		<li><a id="area" href="#">{{area}}</a></li>
		<li><a id="class_name" href="#">{{class_name}}</a></li>
		<li class="active">{{title}}</li>
	</ol>
	<div class="panel panel-purple">
		<div class="panel-heading">

			<h2 class="panel-title">{{title}}
				<div class="pull-right">
					{{glyphicon "heart" "heart-empty" "icon-heart" isFav "Add / remove from favs"}}
					&nbsp;&nbsp;&nbsp;
					{{glyphicon "eye-open" "eye-close" "icon-eye" hasSeen "Have read the noun"}}
					&nbsp;&nbsp;&nbsp;
					{{glyphicon "star" "star-empty" "icon-star" isStar "Star it"}}
				</div>
			</h2>
		</div>
		<div class="panel-body">

			<form class="add modal-nav-box box-hide form-horizontal" id="form_noun">
				<!-- ID -->
				{{#if isAdmin}}
					{{form_static "_id" "_id" _id false}}
				{{/if}}

				<!-- FIELDS -->
				{{form_input "Title" "title" title false true _id false}}
				{{form_input "Description" "description" description canEditAndEditToggle true _id false}}

				<!-- METADATA -->
				<div class="pull-right" style="margin-right: 40px">
					<strong>owner:</strong>{{owner}}
					<div>
					<strong>views:</strong>{{click_cnt}}
					<strong>favs:</strong>{{favs_cnt}}
					<strong>reads:</strong>{{seen_cnt}}
					<strong>stars:</strong>{{stars_cnt}}
					</div>
					<div>
					<strong>created:</strong>{{createdAgo}}
					<strong>updated:</strong>{{updatedAgo}}
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-8">
						{{#if showEditButton}}
						<button type="button" class="btn btn-primary" id="btnEditToggle"><span class="glyphicon glyphicon-pencil"></span></button>
						{{/if}}
						{{#if canEditAndEditToggle}}
						<button type="button" class="btn btn-primary" id="btnUpdateNoun">Update</button>
						<button type="button" class="btn btn-default" id="btnCancelNoun">Cancel</button>
						<button type="button" class="btn btn-danger" id="btnDeleteNoun" title="Delete"><span class="glyphicon glyphicon-remove"></span></button>
						{{/if}}
					</div>
				</div>
			</form>
		</div>
	</div>

	<div class="row">
			<div style="width: 100%">

				<div class="col-sm-6">
					<div class="panel panel-purple">
						<div class="panel-heading">
							<h2 class="panel-title">Relationships
							</h2>
						</div>
						<div class="panel-body">
							{{> noun_rels}}
						</div>
					</div>

					<div class="panel panel-purple">
						<div class="panel-heading">
							<h2 class="panel-title">Diagrams
							</h2>
						</div>
						<div class="panel-body">
							{{> diagramNounFilter}}
						</div>
					</div>

				</div>
				<div class="col-sm-6">
					{{> relationshipDiagram}}
				</div>
			</div>
	</div>
</template>
