<template name="relationship_list">
	<h1>Pick a relationship between x and y</h1>
	<div class="row">
		<nav class="navbar navbar-inverse" role="navigation">
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<form class="navbar-form navbar-left" role="search">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Search" value="{{fcFilterSearchable.criteria}}" data-fc-search-target="search-box">
					</div>
					<button type="submit" class="btn btn-success fc-search-trigger" data-fc-search-trigger="search-box">Submit</button>
					{{#if fcFilterSearchable.criteria}}<button type="button" class="btn btn-danger fc-search-clear">Reset</button>{{/if}}
				</form>

				<!-- active filters -->
				{{#if fcFilterActive}}
				<div class="navbar-form pull-right">
					{{#each fcFilterActive}}
					<a href="#" class="btn btn-info fc-filter-clear">{{title}}: {{operator}} {{value}}</a>
					{{/each}}
				</div>
				{{/if}}
				<!-- /active filters -->
			</div>
		</nav>

		<div class="table-responsive">
			<table class="table table-striped table-hover table-condensed">
				<tr>
					<th class="fc-sort" data-fc-sort="target">
						rel_name
						{{#if fcSort.rel_name.asc}}<span class="glyphicon glyphicon-sort-by-alphabet"></span>{{/if}}
						{{#if fcSort.rel_name.desc}}<span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>{{/if}}
					</th>
					<th class="fc-sort" data-fc-sort="source">
						Source
						{{#if fcSort.source.asc}}<span class="glyphicon glyphicon-sort-by-alphabet"></span>{{/if}}
						{{#if fcSort.source.desc}}<span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>{{/if}}
					</th>
					<th class="fc-sort" data-fc-sort="target">
						Target
						{{#if fcSort.target.asc}}<span class="glyphicon glyphicon-sort-by-alphabet"></span>{{/if}}
						{{#if fcSort.target.desc}}<span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>{{/if}}
					</th>
				</tr>
				{{#each fcResults}}
				<tr>
					<td>{{rel_name}}</td>
					<td>{{source}}</td>
					<td>{{target}}</td>
				</tr>
				{{/each}}
			</table>
		</div>
	</div>
	{{#if fcPager.pages}}
	<div class="row">
		<div class="col-md-12 text-center">
			<!-- numbered pager -->
			<ul class="pagination">
				<li><a href="#" class="fc-pager-first">&lt;&lt;</a></li>
				<li><a href="#" class="fc-pager-previous">&lt;</a></li>
				{{#each fcPager.pages}}
				<li class="{{status}}"><a href="#" class="fc-pager-page" data-fc-pager-page="{{page}}">{{page}}</a></li>
				{{/each}}
				<li><a href="#" class="fc-pager-next">&gt;</a></li>
				<li><a href="#" class="fc-pager-last">&gt;&gt;</a></li>
			</ul>
			<!-- /numbered pager -->

			<!-- pager status -->
			<p>
				<strong>{{fcPager.offsetStart}}</strong> to <strong>{{fcPager.offsetEnd}}</strong> of <strong>{{fcPager.totalItems}}</strong> relationships
			</p>
			<!-- /pager status -->
		</div>
	</div>
	{{/if}}
</template>
