<template name="tmpl_tables_list">
	<div>
        {{#each tables}}
	        {{> tmpl_table_item}}
        {{/each}}

        {{#if ready}}
	        {{#unless allLoaded}}
				<a class="load-more" href="#">Load more</a>
	        {{/unless}}
	    {{else}}
		    <div>{{> spinner}}</div>
        {{/if}}
    </div>
</template>

<template name="tmpl_tables">

	{{> tmpl_tables_sort_select}}

	{{> tmpl_tables_list tablesHandle}}
</template>

<template name="tmpl_tables_sort_select">
	<div class="row">
		<div class="col-sm-8">
			<ol class="breadcrumb">
				{{#each breadcrumbs}}
				{{#if isActive}}
				<li class="active">{{title}}</li>
				{{else}}
				<li><a href="{{link}}">{{title}}</a></li>
				{{/if}}
				{{/each}}
			</ol>
		</div>

		<div class="col-sm-4">
			{{form_options option_value options "table-sort"}}
		</div>
	</div>
</template>
