<!-- UI:Diagrams -->
<template name="diagramNounFilter">

	<div class="row">

		<div class="table-responsive">
			<table class="table table-striped table-hover table-condensed">
				<tr>
					<th></th>
					<th class="fc-sort" data-fc-sort="title">
						Title
						{{#if fcSort.title.asc}}<span class="glyphicon glyphicon-sort-by-alphabet"></span>{{/if}}
						{{#if fcSort.title.desc}}<span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>{{/if}}
					</th>
					<th class="fc-sort" data-fc-sort="description">
						Description
						{{#if fcSort.description.asc}}<span class="glyphicon glyphicon-sort-by-alphabet"></span>{{/if}}
						{{#if fcSort.description.desc}}<span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>{{/if}}
					</th>
					<th class="fc-sort" data-fc-sort="created">
						Created
						{{#if fcSort.created.asc}}<span class="glyphicon glyphicon-sort-by-alphabet"></span>{{/if}}
						{{#if fcSort.created.desc}}<span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>{{/if}}
					</th>
					<th class="fc-sort" data-fc-sort="updated">
						Updated
						{{#if fcSort.updated.asc}}<span class="glyphicon glyphicon-sort-by-alphabet"></span>{{/if}}
						{{#if fcSort.updated.desc}}<span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>{{/if}}
					</th>
					<th class="fc-sort" data-fc-sort="owner">
						Owner
						{{#if fcSort.owner.asc}}<span class="glyphicon glyphicon-sort-by-alphabet"></span>{{/if}}
						{{#if fcSort.owner.desc}}<span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>{{/if}}
					</th>
				</tr>
				{{#each fcResults}}
				<tr>
					<td><button data-diagram-id="{{_id}}" type="button" class="btn btn-primary btn-sm"><span
							class="glyphicon glyphicon-share-alt"></span></button></td>
					<td>{{title}}</td>
					<td>{{description}}</td>
					<td>{{createdAgo}}</td>
					<td>{{updatedAgo}}</td>
					<td>{{owner}}</td>
				</tr>
				{{/each}}
			</table>
		</div>
	</div>
	<div class="row">
		<div class="text-center">
			{{#if fcPager.pages}}
			<!-- numbered pager -->
			<ul class="pagination">
				<li><a href="#" class="fc-pager-first">&lt;&lt;</a></li>
				<li><a href="#" class="fc-pager-previous">&lt;</a></li>
				{{#each fcPager.pages}}
				<li class="{{status}}"><a href="#" class="fc-pager-page" data-fc-pager-page="{{page}}">{{page}}</a></li>
				{{/each}}
				<li><a href="#" class="fc-pager-next">&gt;</a></li>
				<li><a href="#" class="fc-pager-last">&gt;&gt;</a></li>
			</ul>
			<!-- /numbered pager -->
			{{/if}}
		</div>
	</div>
</template>
