<template name="tmpl_mystuff">
	<ul class="nav nav-tabs nav-justified">
		<li class="active"><a href="#">My Stuff</a></li>
		<li><a href="/favs">Favs</a></li>
		<li><a href="/stars">Starred</a></li>
		<li><a href="/profile">Profile</a></li>
	</ul>

	<div class="bs-docs-section">
		<div class="page-header">
			<h1>My Stuff</h1>
		</div>

		<p class="lead">Try the <strong>Favs</strong> and <strong>Starred</strong> and <strong>Profile</strong>tabs</p>
		<p>This page not ready yet :(</p>

	</div>

</template>
